*{
    margin: 0 0 0 0;
}
body{
    font-size: 50px;
    font-weight: 100px;
}
.nav{
    background-color: cadetblue;
    height: 100vh;
    width: 20vw;
}
.first{
    display:flex;
}
.second{
    flex-direction: column;
}
.header{
    background-color: blue;
    width: 80vw;
    height: 20vh;
}
.footer{
    background-color: blue;
    height: 20vh;
    width: 60vw;
}
.forht{
    flex-direction: column;
}
.third{
    display:flex;
}
.article{
    background-color: azure;
    height: 60vh;
    width: 60vw;
}
.aside{
    background-color: blueviolet;
    width: 20vw;
    height: 80vh;
}